#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.grid-item {
  background-color: #646cff;
  border-radius: 8px;
  height: 250px;
  width: 150px;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.grid-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.grid-item:active {
  background-color: aliceblue;
}
